
   <div class="container-fluid" th:fragment="recepNavBar">
	<nav class="navibar navibarFrag navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-linkFrag active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-linkFrag" href="/programs">Programs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-linkFrag" href="/reports">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-linkFrag" href="/logout">Logout</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success btn-outline-successFrag" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
   </div>
